@font-face {
    font-family: 'aviny';
    src: url('../fonts/aviny.eot ');
    src: url('../fonts/aviny.ttf') format('truetype'),
         url('../fonts/aviny.woff2 ') format('woff2'),
         url('../fonts/aviny.woff ') format('woff');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'aviny';
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, #c00, #faa000);
}

.search {
    height: 50px;
    position: relative;
}

.search .input {
    text-align: center;
    font-family: 'aviny';
    font-size: 30px;
    padding: 5px 10px;
    box-sizing: border-box;
    height: 50px;
    width: 20px;
    border: none;
    transition: width .5s ease;
    border-radius: 15px;

}

.search.active .input{
    width: 300px;
    border-radius: 15px;
}

.search .btn {
    padding: 15px;
    border: none;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;

}
